*
{
    padding:0px;
    margin:0px;
}

body
{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* navbar styling */

.wrap
{
    z-index: -1;
}
.navbar
{
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: rgb(191, 3, 15);
    color:white !important;
    border-bottom: 1px solid white !important;
}
a
{
    color:white !important;
}
a:hover
{
    color:rgb(248, 6, 6) !important;
}
.active
{
    background-color: white !important;
    color:rgb(191, 3, 15) !important;
    font-size:18px !important;
}
.active:hover
{
   
    font-weight:bold !important;
}

/* down */

#slider
{
   
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../1.jpg");
    height: 90vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: slide 8s infinite;
}

@keyframes slide
{
    25%
    {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../6.jpg");
        height: 90vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    50%
    {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../5.jpg");
        height: 90vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    75%
    {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../1.jpg");
        height: 90vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    100%
    {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../2.jpg");
        height: 90vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

#down
{
    height: 130px;
    background-color:  rgb(191, 3, 15);
}
  


