/* body styling */

*
{
    padding:0px;
    margin:0px;
}

body
{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* navbar styling */

.wrap
{
    z-index: -1;
}
.navbar
{
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: rgb(191, 3, 15);
    color:white !important;
    border-bottom: 1px solid white !important;
}
a
{
    color:white !important;
}
a:hover
{
    color:rgb(248, 6, 6) !important;
}
.active
{
    background-color: white !important;
    color:rgb(191, 3, 15) !important;
    font-size:18px !important;
}
.active:hover
{
   
    font-weight:bold !important;
}

/* lower part styling */


.row
{
    margin-top:5%;
}

/* FORM CSS */

.form
{
    background-color:  rgb(191, 3, 15);
   
   
    height: 430px !important;
    width: 400px;
    color:white;
}
.form-group
{
    margin-top:10%;
    font-size: 18px;
    text-align: center;
}
.form-control
{
    border-radius: 0px;
    width:80%;
    margin:0 auto;
}
.btn
{
    margin-left:10%;
    border-radius: 0px;
    width:80%;
    margin-top:20px;
    font-size: 18px;
    text-shadow: 2px 2px white;
}
.form-head
{
    text-shadow: 1px 1px white;
   
    font-weight: bold;
    
}
h3
{
    font-style: italic;
}


@media only screen and (max-width: 1200px) {
   .img-responsive
   {
       width: 100%;
       height: 100vh;
   }
   .form
   {
       /* margin: 0 auto; */
       margin-top:100px;
       margin-left: 10%;
       width:80%; 
       
   }
   h3
   {
       font-size: 30px; 
       word-spacing: 3px;
       font-style: italic;
   }
   #load
   {
    position: absolute;
       top:1150px;
       width: 150px;
       height: 150px;
      
   }
  }
  @media only screen and (max-width: 850px) {
    .img-responsive
    {
        width: 100%;
        height: 100vh;
    }
    .form
   {
       margin: 0 auto;
       margin-top:100px;
       width:65%;
       
   }
   h3
   {
       font-size: 24px;
   }
   
   }
   legend
{
    text-align: center;
    color:white;
    font-weight: bold;
    
}
fieldset
{
    margin-top: 14px;
}

/* loader */

.loader {
    border: 16px solid #909090;
    border-radius: 50%;
    border-top: 16px solid rgb(191, 3, 15);
    width: 280px;
    height: 280px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    left: 35%;
    transform: translate(-50,-50);
    top:150px;
    z-index:1;
    display: none;

    
  }
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  
